<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
    <display-name>reportSearch</display-name>
    <servlet>
        <servlet-name>findreportfile</servlet-name>
        <servlet-class>com.goldsign.acc.FindReportFile</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>findreportfile</servlet-name>
        <url-pattern>/findreportfile</url-pattern>
    </servlet-mapping>
</web-app>
