<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases> 
        <typeAlias alias="User" type="com.goldsign.acc.test.entity.User"/> 
    
        <typeAlias alias="PubFlag" type="com.goldsign.acc.frame.entity.PubFlag"/>
        <typeAlias alias="OperationLog" type="com.goldsign.acc.frame.entity.OperationLog"/>
        <typeAlias alias="OperationLogForPrm" type="com.goldsign.acc.frame.entity.OperationLogForPrm"/>
   
        <typeAlias alias="Config" type="com.goldsign.acc.app.config.entity.Config"/>
        <typeAlias alias="ConfigKey" type="com.goldsign.acc.app.config.entity.ConfigKey"/>
        <!--基本信息-->
        <typeAlias alias="SamTypeDefin" type="com.goldsign.acc.app.basicinfo.entity.SamType"/>
        <typeAlias alias="SamLineDefin" type="com.goldsign.acc.app.basicinfo.entity.SamLine"/>
    
        <!--卡分发跟踪-->
        <typeAlias alias="SamDisTrace" type="com.goldsign.acc.app.samquery.entity.SamDisTrace"/>
        
        <!--卡分发跟踪-->
        <typeAlias alias="SamDisTrace" type="com.goldsign.acc.app.samquery.entity.SamDisTrace"/>
        
        <!--卡库存查询-->
        <typeAlias alias="SamStockQuery" type="com.goldsign.acc.app.samquery.entity.SamStockQuery"/> 
    
        <!--卡库存统计-->
        <typeAlias alias="SamStockSta" type="com.goldsign.acc.app.samquery.entity.SamStockSta"/>
        
        <!--卡库存预警-->
        <typeAlias alias="SamStockWarn" type="com.goldsign.acc.app.samquery.entity.SamStockWarn"/>
        
        <!--卡分发出库-->
        <typeAlias alias="DistributeSamOutAction" type="com.goldsign.acc.app.samout.entity.DistributeSamOutAction"/>
        
        <!--操作日志-->
        <typeAlias alias="SamOperLogging" type="com.goldsign.acc.app.samquery.entity.SamOperLogging"/>
        
        <!-- 生产单制作 -->
        <typeAlias alias="LogicNos" type="com.goldsign.acc.app.produceorder.entity.LogicNos"/>
        <typeAlias alias="ProduceOrder" type="com.goldsign.acc.app.produceorder.entity.ProduceOrder"/>
        <!-- 卡发行出库 -->
        <typeAlias alias="IssueSamOut" type="com.goldsign.acc.app.samout.entity.IssueSamOut"/>

    </typeAliases> 
    <!--
   <environments default="development">
       <environment id="development">
           <transactionManager type="JDBC"/>
           <dataSource type="POOLED">
               <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
               <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
               <property name="username" value="acc_st"/>
               <property name="password" value="acc_st"/>
           </dataSource>
       </environment>
   </environments>
    -->  
    <mappers>
        <mapper resource="com/goldsign/acc/test/entity/User.xml"/> 
        <!--软件版本 -->
        <mapper resource="com/goldsign/acc/frame/entity/Version.xml"/> 
    
        <!--公共参数 线路、车站、票卡主类型、票卡子类型、设备类型 -->
        <mapper resource="com/goldsign/acc/frame/entity/PubFlag.xml"/> 
        <!--操作日志 参数操作日志 -->
        <mapper resource="com/goldsign/acc/frame/entity/OperationLog.xml"/> 
    
        <mapper resource="com/goldsign/acc/app/password/entity/SysOperator.xml"/> 
        <!--  <mapper resource="com/goldsign/acc/test/model/UserInterface.xml"/> -->
        <!--系统配置 -->
        <mapper resource="com/goldsign/acc/app/config/entity/ConfigMapper.xml"/> 
        <!-- 获取订单号 -->
        <mapper resource="com/goldsign/acc/frame/entity/Bill.xml"/> 
    
        <!--卡制作入库  -->
        <mapper resource="com/goldsign/acc/app/samin/entity/EmptySamIn.xml"/> 
        <!--新购卡入库  -->
        <mapper resource="com/goldsign/acc/app/samin/entity/ProduceSamIn.xml"/> 
        <!--卡回收入库  -->
        <mapper resource="com/goldsign/acc/app/samin/entity/RecycleSamIn.xml"/> 
        <!--基本信息 -->
        <mapper resource="com/goldsign/acc/app/basicinfo/entity/SamType.xml"/>
        <mapper resource="com/goldsign/acc/app/basicinfo/entity/SamLine.xml"/>
    
        <!--卡分发跟踪-->
        <mapper resource="com/goldsign/acc/app/samquery/entity/SamDisTrace.xml"/> 
        <!--卡库存查询-->
        <mapper resource="com/goldsign/acc/app/samquery/entity/SamStockQuery.xml"/> 
    
        <!--卡库存统计-->
        <mapper resource="com/goldsign/acc/app/samquery/entity/SamStockSta.xml"/>
        
        <!--卡库存预警-->
        <mapper resource="com/goldsign/acc/app/samquery/entity/SamStockWarn.xml"/>
        
        <!--卡分发出库-->
        <mapper resource="com/goldsign/acc/app/samout/entity/DistributeSamOutAction.xml"/>
        
        <!--操作日志-->
        <mapper resource="com/goldsign/acc/app/samquery/entity/SamOperLogging.xml"/>    
    
        <!-- 生产卡制作 -->
        <mapper resource="com/goldsign/acc/app/produceorder/entity/LogicNos.xml"/> 
        <mapper resource="com/goldsign/acc/app/produceorder/entity/ProduceOrder.xml"/> 
        
        <!-- 卡发行出库 -->
        <mapper resource="com/goldsign/acc/app/samout/entity/IssueSamOut.xml"/> 
    </mappers>
</configuration>
